# Directorios generados por Android Studio
.idea/
*.iml

# Archivos de compilación
/build/
*/build/

# Archivos de caché y configuración
.gradle/
local.properties
/.cxx/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de dependencias y empaquetado
*.jar
*.war
*.ear
*.apk
*.aab
*.ipynb_checkpoints

# Archivos de log y debugging
*.log
*.lock

# Configuraciones de usuario
*.keystore
*.jks
